<h2>Rating</h2>
<i class="glyphicon"
  [class.glyphicon-star-empty]="rating < 1"
  [class.glyphicon-star]="rating >= 1"
  (click) = "onclick(1)">
</i>
<i class="glyphicon"
  [class.glyphicon-star-empty]="rating < 2"
  [class.glyphicon-star]="rating >= 2"
  (click) = "onclick(2)">
</i>
<i class="glyphicon"
  [class.glyphicon-star-empty]="rating < 3"
  [class.glyphicon-star]="rating >= 3"
  (click) = "onclick(3)">
</i>
<i class="glyphicon"
  [class.glyphicon-star-empty]="rating < 4"
  [class.glyphicon-star]="rating >= 4"
  (click) = "onclick(4)">
</i>
<i class="glyphicon"
  [class.glyphicon-star-empty]="rating < 5"
  [class.glyphicon-star]="rating >= 5"
  (click) = "onclick(5)">
</i>
