<div class="container">
    <h1>User Form</h1>
    <form>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type = "text" class = "form-control" id="firstName" required
          [(ngModel)]="model.firstName" name="firstName">
          </div>
          <div class = "form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" required
            [(ngModel)]="model.email" name="email">
          </div>
          <div class = "form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="country"
            [(ngModel)]="model.country" name="country">
            <select class = "form-control" id="country">
              <option *ngFor="let c of countries" [value]="c">{{c}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-default">Submit"</button>
      </form>
</div>
